.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 530px;
  background-color: black;
  margin: 15px;
}

.card * {
  color: white;
}

.card-info {
  margin-top: 10px;
  position: relative;
}

.clicked-icon {
  margin: 10px 20px 10px 20px;
}

.clicked-icon:hover {
  cursor: pointer;
}

div.title {
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.title:hover,
.clicked-icon:hover {
  font-weight: bolder;
}

.user-option {
  display: flex;
  align-items: center;
}
